/* Googlefont Poppins CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #08173e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
}

.navbar .logo a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #3E8DA8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
    /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: auto;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #3E8DA8;
}

.search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #3E8DA8;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

@media (max-width:920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }
    nav .navbar .logo a {
        font-size: 27px;
    }
    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }
    nav .navbar .links li a {
        font-size: 15px;
    }
}

@media (max-width:800px) {
    nav {
        /* position: relative; */
    }
    .navbar .bx-menu {
        display: block;
    }
    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #1952a2;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }
    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #fff;
    }
    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }
    nav .navbar .links li .arrow {
        line-height: 40px;
    }
    nav .navbar .links li {
        display: block;
    }
    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    nav .navbar .links li .sub-menu li {
        border-bottom: none;
    }
    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }
    .navbar .links li .sub-menu .more span {
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }
    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}

.links ol,
.links ul {
    padding-left: 0rem;
}


/* Main Body Css  */


/* Mixins  */

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.btn-blue {
    background-color: #1952a2;
    color: #fff;
}

.btn-free {
    padding: 2px 35px;
    border-radius: 20px;
    font-size: 14px;
}

.bg-green {
    background-color: #03aa71;
    color: #fff;
}

.text-green {
    color: #03aa71;
}

.bg-greey {
    background-color: #d8e0e3;
}

.card-border {
    border: 1px solid #c0c7cf;
    border-radius: 20px;
}


/* Mixins end */

#pagination-nav {
    .pagination {
        --bs-pagination-color: #000;
    }
    .active>.page-link,
    .page-link.active {
        background-color: #03aa71;
        border-color: #03aa71;
    }
}

body a {
    text-decoration: none;
}

section {
    position: relative;
}

section button {
    border: 0px;
    padding: 8px 12px;
    border-radius: 7px;
}

.loginbtns button {
    border: 0px;
    padding: 4px 15px;
    border-radius: 7px;
    background-color: transparent;
    color: #fff;
}

.loginbtns button:hover {
    background-color: #03aa71;
}

.loginbtns button:hover i {
    color: #fff;
}

.loginbtns button i {
    color: #03aa71;
    padding-right: 4px;
    font-size: 15px;
}

.loginbtns a {
    color: transparent;
}

nav .navbar .nav-links ul>.active a,
nav .navbar .links li a:hover {
    border: 1px solid #03aa71;
    border-width: 0px 0px 4px 0px;
    border-radius: 4px;
}

footer .row:nth-child(1) ul li {
    list-style: none;
    margin: 14px 0px;
}

footer .row:nth-child(2) ul li {
    margin: 8px 0px;
    color: #697583;
}

footer .row:nth-child(2) ul li::marker {
    color: #03aa71;
}

footer ul li:hover {
    font-weight: 600;
}

footer .col-lg-3 i {
    font-size: 2rem;
    color: #1952a2;
}

.homesec1 h5 {
    font-size: 22px;
}

.homesec1 .col-md-9 h5>span:nth-child(1) {
    font-weight: 600;
    font-size: 2.4rem;
    padding-right: 10px;
}

#highlight {
    border-radius: 50px;
    background-color: #f9fafb;
    border: 1px solid #cdd5d9;
    padding: 18px 20px 3px 20px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#highlight span {
    background-color: #03aa71;
    color: #fff;
    position: absolute;
    padding: 4px 20px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    top: -14px;
    left: 47%;
}

#trd-top-perf ul button {
    padding: 4px 15px;
}

#my-copytraders .crown {
    height: 35px;
    border: 1px solid #03aa71;
    border-radius: 8px;
    padding: 3px 5px;
    margin-right: 10px;
}

.rank-img {
    position: relative;
    width: 50px;
    height: 50px;
}

.rank-img p {
    margin-bottom: 0px;
    width: 22px;
    height: 22px;
    padding: 1px 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #03aa71;
    border-radius: 50%;
    color: #fff;
}

#my-dash-equity {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 22px solid #d2dbdf;
    padding: 38px;
    text-align: center;
    margin: 0px auto 23px;
}

.my-dash-avalrecds {
    border: 1px solid #c0c7cf;
    padding: 8px 35px;
    border-radius: 10px;
}

.my-dash-avalrecds h4 {
    margin-bottom: 0px;
    color: #3f546a;
}

#my-fav-traders-col8 {
    width: 62%;
}

#my-fav-traders-col4 {
    width: 38%;
}

#my-fav-traders-col4 button {
    padding: 6px 12px;
}

#compare-table {
    .table>thead {
        vertical-align: middle;
        background-color: #1952a2;
    }
    .table>thead>tr th {
        background-color: transparent;
        color: #fff;
        font-weight: 500;
    }
    .table>tbody {
        vertical-align: initial;
    }
    .table>tbody>tr td {
        border-bottom: 1px solid #c0c7cf;
    }
    .table>tbody>tr:last-child td {
        border-bottom: 0px;
    }
}

.card-head {
    background-color: #ebeff2;
    border-radius: 20px 20px 0px 0px;
}

#tradingmasterpg .nav-link {
    color: #000;
}

#tradingmasterpg .nav-underline .nav-link.active {
    border-bottom-color: #03aa71;
    border-radius: 0px;
}

#strategypg nav {
    background: transparent;
    box-shadow: none;
    height: auto;
}

#strategypg #nav-tabContent .form-select {
    padding: .375rem 3.2rem .375rem 1rem;
    font-size: 1.4rem;
    color: #03aa71;
    border-radius: 8px;
    border-color: #c0c7cf;
}

#strategy-graph>.nav-tabs {
    background-color: #d8e0e3;
    border-radius: 20px 20px 0px 0px;
}

#strategy-graph>.nav-tabs .nav-link {
    font-size: 20px;
    width: 33.3%;
    color: #3f546a;
}

#strategy-graph>.nav-tabs .nav-link.active {
    border-radius: 20px 20px 0px 0px;
}

.calender .col {
    position: relative;
    border: 1.5px solid #dae2e5;
}

.calender .col p {
    padding: 2.2rem 0px;
}

.calender .col>span {
    position: absolute;
    top: 3px;
    right: 9px;
}

#strategy-overview .nav .nav-link {
    font-size: 16px;
    color: #3f546a;
}

#strategy-overview .nav .nav-link.active {
    font-weight: 600;
    color: #1952a2;
    font-size: 18px;
}

#simulationpg .input-group-text {
    background-color: #cdd5d9;
}

#timeframe .card {
    color: #3f546a;
}

#timeframe .card:hover {
    border: 1px solid #03aa71;
    color: #000;
}

#masterscard1 {
    padding: 14.2% 2%;
}

.sim1mascard {
    .table>tbody>tr {
        vertical-align: middle;
        .input-group {
            width: 90px;
        }
    }
    .table>thead>tr>th {
        font-weight: 500;
    }
    .table>tbody>tr>th,
    .table>tbody>tr>td {
        border: none;
        padding: 0.8rem 0.5rem;
    }
}

.sim1mascard-btn {
    width: fit-content;
    padding: 8px 40px;
    background-color: #cdd5d9;
    color: #fff;
    margin-left: 20px;
}

#simulationpgres .nav .nav-link {
    color: #3f546a;
}

#simulationpgres .nav-underline .nav-link.active {
    font-weight: 600;
    font-size: 18px;
    border-radius: 0px;
    border-color: #12af7a;
}

#simulationpgres .nav-underline {
    gap: 3rem;
}

#simulationpg .modal-footer {
    justify-content: flex-start;
    border-top: 0px;
}

#simulationpg .modal-content {
    border-radius: 20px;
    padding-bottom: 10px;
}

#simulationpg .modal-header {
    padding: .5rem 1.5rem;
    border-radius: 20px 20px 0px 0px;
}

#simulationpg .modal-body {
    padding: .5rem 1.5rem;
}

#add-master {
    .modal-header {
        background: #08173e;
        color: #fff;
    }
    .modal-dialog {
        max-width: 68%;
    }
    .modal-content {
        border-radius: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #simulationpgres .nav-underline {
        gap: 0rem 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    #highlight span {
        left: 34%;
    }
    #my-fav-traders-col4 {
        width: 60%;
        margin: 10px 0px 0px 15px;
    }
    #my-fav-traders-col8 {
        width: 80%;
    }
    .calender .col p {
        width: max-content;
    }
    .calender-blur {
        padding: 0.75rem 3rem !important;
    }
    #strategy-graph>.nav-tabs .nav-link {
        width: 50%;
    }
    #simulationpgres .nav-underline {
        gap: 0rem 1.5rem;
    }
}